
   body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
    position: relative;
  }
  
  ul{
    padding: 0px;
    margin: 0px;
  }
  /* using own input method */
  /* .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  } */
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 47px;
    width: 350px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    list-style-type: none;
    padding-left: 0px;

  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    border-style: outset;
    padding: 8px 4px 14px 10px;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .footer {
    margin: 9px 20px;
    font-size: 12px;
    color: #777;
  }
  
  .open-sans{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-shadow: #352995 0px 0 1px;
  }