.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rock-salt{
  font-family: 'Rock Salt', cursive;
  font-size: 19px;
  color: #352995;
  text-align: center;
  text-shadow: #FC0 1px 0 10px;
}

.Rancho{
  font-family: 'Rancho', cursive;
}

